* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    background-color: rgb(221, 161, 171);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.checkbox .trace {
    width: 90px;
    height: 8px;
    background-color: #fff;
    position: absolute;
    border-radius: 4px;
    transition: .5s ease-in-out;
}

.checkbox .trace:nth-child(1) {
    top: 26px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(2) {
    top: 46px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(3) {
    top: 66px;
    transform: rotate(0);
}

#toggle {
    display: none;
}

#toggle:checked + .checkbox .trace:nth-child(1) {
    transform: rotate(45deg);
    top: 47px;
} 

#toggle:checked + .checkbox .trace:nth-child(2) {
    transform: translateX(-100px);
    width: 30px;
    visibility: hidden;
    opacity: 0;
} 

#toggle:checked + .checkbox .trace:nth-child(3) {
    transform: rotate(-45deg);
    top: 48px;
}