body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    background-color: #e2e2e2;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 5rem;
    box-sizing: border-box;
    position: relative;
}

.bubble-checkbox {
    display: none;
}

.bubble-button {
    position: absolute;
    background-color: rgb(13, 145, 155);
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 666;
    bottom: 50px;
    right: 50px;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.bubble-button .trace {
    width: 35px;
    height: 4px;
    border-radius: 8px;
    background-color: #ffffff;
    transition: all 500ms cubic-bezier(0.6, -0.5, 0.4, 1.5);
}

.bubble-button .trace:nth-child(1) {
    position: absolute;   
    top: 25px;
    transform: rotate(0);
}

.bubble-button .trace:nth-child(2) {
    position: absolute;   
    top: 40px;
    transform: rotate(0);
}

.bubble-small {
    position: absolute;
    bottom: 65px;
    right: 65px;
    height: 40px;
    width: 40px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    z-index: 1;
    transition: all 500ms cubic-bezier(0.6, -0.5, 0.4, 1.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bubble-small a {
    color: #ffffff;
}

.bubble-button--1 {
    background-color: rgb(60, 206, 196);
    transform: rotateZ(5deg);
}

.bubble-button--2 {
    background-color: rgb(33, 175, 166);
    transition-delay: 50ms;
    transform: rotateZ(-10deg);
}
.bubble-button--3 {
    background-color: rgb(27, 163, 154);
    transition-delay: 100ms;
    transform: rotateZ(-15deg);
}

.bubble-checkbox:checked ~ .bubble-small.bubble-button--1 {
    bottom: 138px;
}

.bubble-checkbox:checked ~ .bubble-small.bubble-button--2 {
    bottom: 120px;
    right: 120px;
}

.bubble-checkbox:checked ~ .bubble-small.bubble-button--3 {
    right: 138px;
}

.bubble-checkbox:checked ~ .bubble-button .trace:nth-child(1) {
    top: 33px;
    transform: rotate(45deg);
}

.bubble-checkbox:checked ~ .bubble-button .trace:nth-child(2) {
    top: 33px;
    transform: rotate(-45deg);
}