body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    background-color: rgb(53, 53, 53);
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatbot {
    height: 4rem;
    width: 8rem;
    border-radius: 36px;
    border: 4px solid #949494;
    padding: 0 1rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    transform: translateY(0);
    animation: chatTranslate 2s ease-in-out infinite;
}

.chatbot::before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    bottom: -1.3rem;
    left: 2rem;
    border-left: 2px solid transparent;
    border-right: 17px solid transparent;
    border-top: 17px solid #949494;
}

.chatbot__loading {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #949494;
    transform: scale(1);
}

.chatbot__loading:nth-child(1) {
    animation: pulse 1.5s ease-in-out infinite;
}

.chatbot__loading:nth-child(2) {
    animation: pulse 1.5s ease-in-out infinite;
    animation-delay: 0.2s;
}

.chatbot__loading:nth-child(3) {
    animation: pulse 1.5s ease-in-out infinite;
    animation-delay: 0.4s;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes chatTranslate {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(15px);
    }
    100% {
        transform: translateY(0);
    }
}

